<div class="container">
  <h1> Detalhes da perda </h1>
  <h4>Nome do produtor: <b>{{loss.producer_name}}</b></h4>
  <h4>E-mail do produtor: <b>{{loss.producer_email}}</b></h4>
  <h4>CPF do produtor: <b>{{loss.producer_cpf}}</b></h4>
  <h4>Local da lavoura: <b>{{loss.crop_local}}</b></h4>
  <h4>Data da colheita: <b>{{loss.harvest_date}}</b></h4>
  <h4>Tipo da colheita: <b>{{loss.crop_type}}</b></h4>
  <h4>Evento ocorrido: <b>{{loss.event_type}}</b></h4>
  <form class="button-area">
    <button mat-button (click)="back()">Voltar</button>
  </form>
</div>
